<h1>
  <font size="+4" style=color:purple>
    Transposer
  </font>
</h1>

<ul>
  <font size="+1">By Elias LaChonce</font>
</ul>

<ul>
  <font style = "font-family: times_new_roman">
    Welcome to the first automatic music transposer.
    Transpose your music in seconds to any key or clef.
  </font>
</ul>

<ul>
  <a href="https://imgbb.com/">
    <img src="https://i.ibb.co/KDBR5Kg/treble.png" alt="treble">
  </a>
</ul>

<ul>
  <a href="https://imgbb.com/">
    <img src="https://i.ibb.co/3sf7LSq/bass.png" alt="bass">
  </a>
</ul>

<div class = "container">
  <nav>
    <ul>
      <li><a href="camera">Camera</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">hello</a></li>
      <li><a href="#">sheet_music</a></li>
      <li><a href="#">blah</a></li>
    </ul>
  </nav>
</div>
